/* You can add global styles to this file, and also import other style files */
html,body{
    background-color:#FFFFFF;
    height:100%;
}

body, div,
h1, h2, h3, h4, h5, h6,
 blockquote, pre, dl, dt, dd, ol, ul, li, hr,
fieldset, form, label, legend, th, td,
article, aside, figure, footer, header, hgroup, menu, nav, section,
summary, hgroup {
  margin: 0;
  padding: 0;
  border: 0;
  color:#000000;
  font-family: 'Noto Sans', sans-serif;
}
ol{
	list-style:none;
}

a:link,
a:visited,
a:active,
a:hover {
  outline: 0;
  text-decoration:none;
  color:#051b63;
  display:inline-block;
}
.row{
	width:100%;
}
.block{
	position:relative;
	display:inline-block;
}

.centered{
	text-align:center;
}